annotated-doc      
annotated-types    
anyio              
bcrypt             
biopython          
certifi            
cffi               
cftime             
charset-normalizer 
click              
colorama           
contourpy          
cryptography       
cycler             
deprecation        
dnspython          
ecdsa              
email-validator    
et_xmlfile         
fastapi            
fastapi-cli        
fastapi-cloud-cli  
fastar             
fonttools          
greenlet           
h11                
h2                 
hpack              
httpcore           
httptools          
httpx              
hyperframe         
idna               
Jinja2             
kiwisolver         
markdown-it-py     
MarkupSafe         
matplotlib         
mdurl              
multidict          
narwhals           
netCDF4            
numpy              
openpyxl           
packaging          
pandas             
passlib            
pillow             
pip                
plotly             
postgrest          
propcache          
psycopg2-binary    
pyasn1             
pycparser          
pydantic           
pydantic_core      
Pygments           
PyJWT              
pyparsing          
python-dateutil    
python-dotenv      
python-jose        
python-multipart   
pytz               
PyYAML             
realtime           
requests           
rich               
rich-toolkit       
rignore            
rsa                
scipy              
sentry-sdk         
shellingham        
six                
sniffio            
SQLAlchemy         
starlette          
storage3           
StrEnum            
supabase           
supabase-auth      
supabase-functions 
typer              
typing_extensions  
typing-inspection  
tzdata             
urllib3            
uvicorn            
watchfiles         
websockets         
xarray             
xlrd               
yarl               
